<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/task 
		http://www.springframework.org/schema/task/spring-task-3.0.xsd">
		
				
		<!-- holding properties for database connectivity / -->
	<context:property-placeholder location="classpath:jdbc.properties" />

		<bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver"> 
    	<property name="maxUploadSize" value="500000" /> 
	</bean>

	<!-- enabling annotation driven configuration / -->
	<context:annotation-config />
		
	<mvc:annotation-driven />
		
	<mvc:interceptors>	
		<mvc:interceptor>
			<mvc:mapping  path="/ingresarMercaderia/*"/> 
			<mvc:mapping  path="/registrarConsumo/*"/>
			<mvc:mapping  path="/entregaPedido/*"/>
			<mvc:mapping  path="/cargaRegistroMFP/*"/>
			<mvc:mapping  path="/home/*"/> 
			<mvc:exclude-mapping path="/login.htm" />
			<bean class="com.stansa.session.ApplicationSessionInterceptor" />
		</mvc:interceptor>      
	</mvc:interceptors> 
	
	
    <bean id="dataSourceStansa" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.stansa.url}"/>
        <property name="username" value="${jdbc.stansa.username}"/>
        <property name="password" value="${jdbc.stansa.password}"/>
    </bean>
    <bean id="dataSourceSCA" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.sca.url}"/>
        <property name="username" value="${jdbc.sca.username}"/>
        <property name="password" value="${jdbc.sca.password}"/>
    </bean>
    
     <bean id="sessionFactoryStansa" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSourceStansa"/>
        <property name="packagesToScan">
        	<list>
        		<value>com.stansa.domain</value>
        		<value>com.sca.local.domain</value>
        	</list>
        </property>
        <property name="hibernateProperties" >
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
            </props>
        </property>	
    </bean>
    <bean id="sessionFactoryGestionSCA" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSourceSCA"/>
        <property name="packagesToScan" value="com.sca.domain"/>
        <property name="hibernateProperties" >
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
            </props>
        </property>
    </bean>
    
    <bean id="hibernateTemplateStansa" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactoryStansa"/>
    </bean>  
    <bean id="hibernateTemplateSCA" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactoryGestionSCA"/>
    </bean>
    
    
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="sleivac90@gmail.com" />
		<property name="password" value="leao1990" />
	
		<property name="javaMailProperties">
		   <props>
	       	      <prop key="mail.smtp.auth">true</prop>
	       	      <prop key="mail.smtp.starttls.enable">true</prop>
	       	   </props>
		</property>
	</bean>

	 <bean id="mailMail" class="com.stansa.util.EmailUtil">
	        <property name="mailSender" ref="mailSender" />
    </bean>

    <task:annotation-driven />
    <bean id="envioCorreoJobService" class="com.stansa.service.EnvioCorreoJobService"></bean>
    
    
	<!-- Scans the classpath of this application for @Components to deploy as beans -->	
	<context:component-scan base-package="com" />

</beans>
