  <HTML>
    <HEAD>
      <TITLE>Envío de Insumos - RICOH DEL PERU S.A.C</TITLE>
    </HEAD>


    <BODY>
    Estimado cliente, el envío de insumos programados para la fecha yy.
	<BR/>
	<BR/>
    <table>
	  <tr>
	    <th>MODELO</th>
	    <th>NRO SERIE</th> 
	    <th>TONER</th>
	  </tr>
	   #foreach( $pet in $petList )
          <TR>
            <TD>$pet.name</TD>
            <TD>$pet.price</TD>
            <TD>Impresora dddd</TD>
          </TR>
        #end

	</table>

    </BODY>
  </HTML>
